body {
  height: 100vh
}

#messages {
  height: 55vh;
  overflow: auto;
}

#input-field {
  height: 10vh;
  overflow: auto;
}

.reply {
  position: relative;
  padding: 0.408rem 0.816rem;
  border-radius: 0.3rem;
  background-color: rgba(247, 188, 10, 0.3);
  max-width: 80vh;
}
.reply:before {
  content: "";
  width: 0px;
  height: 0px;
  border-color: transparent rgba(247, 188, 10, 0.3) transparent transparent;
  border-style: solid;
  border-width: 0.5rem;
  position: absolute;
  top: 0.65rem;
  border-radius: 0.1rem;
  left: -0.95rem;
  right: auto;
}
