<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="An unsafe chat room implemented by python fastapi websockets.">
  <meta name="author" content="Aiar">
  <title>Canteen - Chatroom by Python</title>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
  <!-- Theme CSS -->
  <link type="text/css" href="assets/css/theme.css" rel="stylesheet">
  <!-- Demo CSS - No need to use these in your project -->
  <link type="text/css" href="assets/css/demo.css" rel="stylesheet">
  <link type="text/css" href="assets/css/custom.css" rel="stylesheet">
</head>
<body class="bg-light">
<span class="mask bg-info alpha-3"></span>
<nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-4">
  <div class="container">
    <a class="navbar-brand" href=""><strong>Canteen</strong> Chatroom</a>
  </div>
</nav>
<main class="main">
  <section class="pt-lg bg-transparent">
    <div class="container d-flex align-items-center">
      <div class="col">
        <div class="row">
          <div class="col-md-12">
            <div class="card px-3 py-4 border-0 mb-0 mh-500">
              <div class="card-body pt-0" id="messages">
              </div>
              <div class="card-footer py-3">
                <form class="card-comment-box" role="form" onsubmit="sendMessage(event)">
                  <div class="row pt-1">
                    <div class="col-10" id="input-field">
                      <textarea id="messageText" autocomplete="off" rows="2" class="form-control textarea-autosize"
                                placeholder="整两句..."></textarea>
                    </div>
                    <div class="col-2 text-right">
                      <div class="card-icon-actions card-icon-actions-lg">
                        <button type="submit" class="btn btn-secondary btn-icon-only">
                                                    <span class="btn-inner--icon"><i
                                                        class="fas fa-arrow-left"></i></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- Modal -->
<div class="modal fade" id="modal_5" tabindex="-1" role="dialog" aria-labelledby="modal_5"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_title_6">取个名字</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="py-3 text-center">
          <i class="fas fa-exclamation-circle fa-4x"></i>
          <h4 class="heading mt-4" id="nickname"></h4>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-warning" onclick="getNickName()">再换亿个</button>
        <button type="button" class="btn btn-sm btn-outline-success" data-dismiss="modal" onclick="connect()">就这个！</button>
      </div>
    </div>
  </div>
</div>
<!-- Core -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/popper/popper.min.js"></script>
<script src="assets/js/bootstrap/bootstrap.min.js"></script>
<!-- FontAwesome 5 -->
<script src="assets/vendor/fontawesome/js/fontawesome-all.min.js" defer></script>
<!-- Page plugins -->
<script src="assets/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="assets/vendor/input-mask/input-mask.min.js"></script>
<script src="assets/vendor/nouislider/js/nouislider.min.js"></script>
<script src="assets/vendor/textarea-autosize/textarea-autosize.min.js"></script>
<!-- Theme JS -->
<script src="assets/js/theme.js"></script>
<script src="assets/js/demo.js"></script>
</body>
</html>
